absl-py==1.4.0
ackermann-msgs==2.0.2
action-msgs==1.2.2
action-tutorials-interfaces==0.20.8
action-tutorials-py==0.20.8
actionlib-msgs==4.9.1
ament-clang-format==0.12.15
ament-cmake-test==1.3.14
ament-copyright==0.12.15
ament-cppcheck==0.12.15
ament-cpplint==0.12.15
ament-flake8==0.12.15
ament-index-python==1.4.1
ament-lint==0.12.15
ament-lint-cmake==0.12.15
ament-package==0.14.2
ament-pep257==0.12.15
ament-uncrustify==0.12.15
ament-xmllint==0.12.15
angles==1.15.0
apriltag-msgs==2.0.1
array_record==0.8.3
asttokens==3.0.1
astunparse==1.6.3
attrs==26.1.0
bleach==6.3.0
builtin-interfaces==1.2.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
colorama==0.4.6
comm==0.2.3
composition-interfaces==1.2.2
contourpy==1.3.3
control-msgs==4.8.0
controller-manager==2.53.1
controller-manager-msgs==2.53.1
cryptography==46.0.5
cv-bridge==3.2.1
cycler==0.12.1
Cython==3.2.4
debugpy==1.8.20
decorator==5.2.1
demo-nodes-py==0.20.8
diagnostic-msgs==4.9.1
diagnostic-updater==4.0.6
dm-tree==0.1.9
docstring_parser==0.17.0
domain-coordinator==0.10.0
einops==0.8.2
etils==1.14.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
executing==2.2.1
flatbuffers==25.12.19
fonttools==4.62.1
fsspec==2026.2.0
gast==0.7.0
generate-parameter-library-py==0.7.0
geometry-msgs==4.9.1
gin-config==0.5.0
google-api-core==2.30.0
google-api-python-client==2.193.0
google-auth==2.49.1
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.3.0
google-pasta==0.2.0
googleapis-common-protos==1.73.0
graph-msgs==0.2.0
grpcio==1.78.0
h5py==3.16.0
httplib2==0.31.2
idna==3.11
image-geometry==3.2.1
immutabledict==4.3.1
interactive-markers==2.3.2
ipykernel==7.2.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
jax==0.4.34
jaxlib==0.4.34
jedi==0.19.2
joblib==1.5.3
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jupyter_client==8.8.0
jupyter_core==5.9.1
kaggle==2.0.0
kagglesdk==0.1.16
keras==2.15.0
kiwisolver==1.5.0
laser-geometry==2.4.1
launch==1.0.14
launch-ros==0.19.13
launch-testing==1.0.14
launch-testing-ros==0.19.13
launch-xml==1.0.14
launch-yaml==1.0.14
libclang==18.1.1
lifecycle-msgs==1.2.2
logging-demo==0.20.8
lxml==6.0.2
map-msgs==2.1.0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mediapipe==0.10.14
mediapipe-model-maker==0.2.1.4
message-filters==4.3.14
ml-dtypes==0.3.2
moveit-msgs==2.2.1
namex==0.1.0
nav-msgs==4.9.1
nest_asyncio==1.6.0
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.3.1
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
optree==0.19.0
osrf-pycommon==2.1.6
packaging==25.0
pandas==3.0.1
parso==0.8.6
pcl-msgs==1.0.0
pendulum-msgs==0.20.8
pexpect==4.9.0
pillow==12.1.1
pip==26.0.1
platformdirs==4.9.4
portalocker==3.2.0
promise==2.3
prompt_toolkit==3.0.52
proto-plus==1.27.1
protobuf==4.25.8
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==23.0.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycocotools==2.0.11
pycparser==3.0
Pygments==2.19.2
pyparsing==3.3.2
pyrealsense2==2.56.5.9235
python-dateutil==2.9.0.post0
python-qt-binding==1.1.3
python-slugify==8.0.4
PyYAML==6.0.3
pyzmq==27.1.0
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.8
rcl-interfaces==1.2.2
rclpy==3.3.21
rcutils==5.1.8
realsense2-camera-msgs==4.56.4
regex==2026.2.28
requests==2.32.5
requests-oauthlib==2.0.0
resource-retriever==3.1.3
rich==14.3.3
rmw-dds-common==1.6.0
ros2action==0.18.18
ros2bag==0.15.16
ros2cli==0.18.18
ros2component==0.18.18
ros2controlcli==2.53.1
ros2doctor==0.18.18
ros2interface==0.18.18
ros2launch==0.19.13
ros2lifecycle==0.18.18
ros2multicast==0.18.18
ros2node==0.18.18
ros2param==0.18.18
ros2pkg==0.18.18
ros2plugin==5.1.3
ros2run==0.18.18
ros2service==0.18.18
ros2test==0.4.0
ros2topic==0.18.18
rosbag2-interfaces==0.15.16
rosbag2-py==0.15.16
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.8
rosidl-cli==3.1.8
rosidl-cmake==3.1.8
rosidl-generator-c==3.1.8
rosidl-generator-cpp==3.1.8
rosidl-generator-py==0.14.6
rosidl-generator-rs==0.4.11
rosidl-parser==3.1.8
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-introspection-cpp==3.1.8
rpyutils==0.2.2
rqt-action==2.0.1
rqt-bag==1.1.6
rqt-bag-plugins==1.1.6
rqt-console==2.0.3
rqt-graph==1.3.2
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.4
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.1
rsa==4.9.1
sacrebleu==2.6.0
scikit-learn==1.8.0
scipy==1.17.1
sensor-msgs==4.9.1
sensor-msgs-py==4.9.1
sentencepiece==0.2.1
seqeval==1.2.2
setuptools==80.10.2
shape-msgs==4.9.1
simple-parsing==0.1.8
six==1.17.0
sounddevice==0.5.5
sros2==0.10.9
stack_data==0.6.3
statistics-msgs==1.2.2
std-msgs==4.9.1
std-srvs==4.9.1
stereo-msgs==4.9.1
tabulate==0.10.0
teleop-twist-keyboard==2.4.1
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.1
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.9
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.3
tensorflow-model-optimization==0.7.5
tensorflow-text==2.15.0
termcolor==3.3.0
text-unidecode==1.3
tf_keras==2.15.1
tf-models-official==2.15.0
tf-slim==1.1.0
tf-transformations==1.1.1
tf2-geometry-msgs==0.25.19
tf2-kdl==0.25.19
tf2-msgs==0.25.19
tf2-py==0.25.19
tf2-ros-py==0.25.19
tf2-sensor-msgs==0.25.19
tf2-tools==0.25.19
theora-image-transport==2.5.4
threadpoolctl==3.6.0
toml==0.10.2
topic-monitor==0.20.8
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
trajectory-msgs==4.9.1
turtlesim==1.4.3
typeguard==2.13.3
typing_extensions==4.15.0
unique-identifier-msgs==2.2.1
urdfdom-py==1.2.1
uritemplate==4.2.0
urllib3==2.6.3
vision-msgs==4.1.1
visualization-msgs==4.9.1
wcwidth==0.6.0
webencodings==0.5.1
Werkzeug==3.1.7
wheel==0.46.3
wrapt==1.14.2
xacro==2.1.1
zipp==3.23.0
